#define MIRYOKU_DOUBLE_TAP_GUARD(NAME, BINDING) \
/ { \
  behaviors { \
    NAME: NAME { \
      compatible = "zmk,behavior-tap-dance"; \
      #binding-cells = <0>; \
      tapping-term-ms = <U_TAPPING_TERM>; \
      bindings = <&none>, <BINDING>; \
    }; \
  }; \
};

MIRYOKU_DOUBLE_TAP_GUARD(u_to_U_BASE, &to U_BASE)
MIRYOKU_DOUBLE_TAP_GUARD(u_to_U_MEDIA, &to U_MEDIA)
MIRYOKU_DOUBLE_TAP_GUARD(u_to_U_FUN, &to U_FUN)
MIRYOKU_DOUBLE_TAP_GUARD(u_to_U_NUM, &to U_NUM)
MIRYOKU_DOUBLE_TAP_GUARD(u_to_U_MOUSE, &to U_MOUSE)
MIRYOKU_DOUBLE_TAP_GUARD(u_to_U_SYM, &to U_SYM)
MIRYOKU_DOUBLE_TAP_GUARD(u_to_U_NAV, &to U_NAV)

#if defined (MIRYOKU_KLUDGE_DOUBLETAPBOOT)
  #if defined (MIRYOKU_KLUDGE_SOFT_OFF)
MIRYOKU_DOUBLE_TAP_GUARD(u_soft_off, &soft_off)
  #else
MIRYOKU_DOUBLE_TAP_GUARD(u_bootloader, &bootloader)
  #endif
#endif
